# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
server/node_modules
client/node_modules

# production
server/build
client/build

# IDE specific
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
